/* @font-face {
  font-family: "Creepy";
  /* src:url("") */
/* } */

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}
body {
  margin: 0;
  background: radial-gradient(rgb(252, 136, 83));
}

.page-title {
  color: rgb(235, 123, 31);
  font-family: Lucida Sans, serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
.game-info {
  color: white;
  font-size: 4em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
}

.card {
  background-color: black;
  height: 175px;
  width: 125px;
}

.hijau {
  background-color: green !important;
}
.card-face {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.coba-web {
  position: absolute;
  width: 47px;
  height: 47px;
}

.cob-web-top-left {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}

.cob-web-top-right {
  top: 0;
  right: 0;
}

.cob-web-bottom-left {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.cob-web-bottom-right {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

.spider {
  align-self: flex-start;
  transform: translateY(-10px);
}
